.container{
  
}


.carousel {
    position: relative;
  }
  
  .carouselControlLeft, .carouselControlRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
  }
  
  .carouselControlLeft {
    left: 10px;
  }
  
  .carouselControlRight {
    right: 10px;
  }
  
  .card-img-top {
    transition: transform 0.5s ease; /* Smooth transition for the image change */
  }
  