
.carousel {
  position: relative;
}

.carouselControlLeft, .carouselControlRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.carouselControlLeft {
  left: 10px;
}

.carouselControlRight {
  right: 10px;
}

.card-img-top {
  transition: transform 0.5s ease; /* Smooth transition for the image change */
}

.matchPopup{
  height: 100vh;
  background-color: green;
}

/* Add this to Person.module.css */

.matchPopup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(69, 150, 55, 0.8);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
color: white;
font-size: 2rem;
font-weight: bold;
}



/* HERE IS THE MATCH CARD SO WHAT WE WANT TO DO IS SEPERATE THE LGOIC ABOVE HERE FOR THE PERSON Component
AND THE BOTTOM SECTION HERE
FOR THE CHAT COMPONENT 
and the list of likes

*/


.matchesList {
display: flex;
flex-wrap: wrap;
}

.matchCard {
margin: 10px;
padding: 10px;
border: 1px solid #ccc;
cursor: pointer;
transition: transform 0.2s;
}

.matchCard:hover {
transform: scale(1.05);
}

.matchCard img {
width: 100px;
height: 100px;
border-radius: 50%;
}

.containerChat {
padding: 20px;
}



/* 
.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
height: 150vh;
} */

